.component-proyect {
    display: inline;
    position: absolute;
    margin-left: 420px;
}

.all-proyects {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background-color: #556e7e;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .component-proyect {
        display: block;
        margin-left: 0px;
    }

    .all-proyects {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 80px;
    }
}