#Technologies-title {
    margin-left: 420px;
}

.Component-technologie {
    margin-left: 420px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #556e7e;
}

.Technologies {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.Technologies img {
    margin: 25px;
    height: 130px;
    width: 130px;
}

@media screen and (max-width: 768px) {
    .Component-technologie {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 80px;
    }

    .Technologies img {
        margin: 15px;
        height: 60px;
        width: 60px;
    }
}