.contacts-btn {
  position: fixed;
  margin-top: 600px;
}

.Linkedin {
    cursor: pointer;
    background-color: #0077B5;
    border: 1px solid #0077B5;
    padding: 5px;
    position: relative;
    width: 7.2em;
    height: 2em;
    transition: 0.5s;
    font-size: 17px;
    margin: 0px 5px 0px 5px;
  }
  
  .Linkedin p {
    position: absolute;
    top: 0.4em;
    left: 1.2em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #fff;
  }
  
  .Linkedin svg {
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #fff
  }
  
  .Linkedin:hover p {
    left: 0.6em;
    color: #0077B5
  }
  
  button:hover svg {
    opacity: 1;
  }
  
  .Linkedin:hover {
    background-color: #fff;
  }

  .GitHub {
    cursor: pointer;
    background-color: #24292e;
    border: 1px solid #24292e;
    padding: 5px;
    position: relative;
    width: 7.2em;
    height: 2em;
    transition: 0.5s;
    font-size: 17px;
    margin: 0px 5px 0px 5px;
  }
  
  .GitHub p {
    position: absolute;
    top: 0.4em;
    left: 1.2em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #fff;
  }
  
  .GitHub svg {
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #fff
  }
  
  .GitHub:hover p {
    left: 0.6em;
    color: #24292e
  }
  
  button:hover svg {
    opacity: 1;
  }
  
  .GitHub:hover {
    background-color: #fff;
  }

  .icons {
    display: none;
  }

  .download-button {
    cursor: pointer;
    position: absolute;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;
   }
   
   .download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 2em;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #242a35;
    border: solid 1px #e8e8e82d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
   
   .download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #01e056;
    border: solid 1px #01e0572d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover .download {
    transform: translateY(100%)
   }
   
   .download svg polyline,.download svg line {
    animation: docs 1s infinite;
   }
   
   @keyframes docs {
    0% {
     transform: translateY(0%);
    }
   
    50% {
     transform: translateY(-15%);
    }
   
    100% {
     transform: translateY(0%);
    }
   }
  

  @media screen and (max-width: 768px){
    .Linkedin {
      display: none;
    }

    .GitHub {
      display: none;
    }

    .download-button {
      display: none;
    }

    .icons {
      display: flex;
      z-index: 1;
      width: 50%;
      margin-left: 25%;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 20px;
    }

    .icon-btn {
      display: inline;
      background: none;
      border: none;
    }

    .icon-btn svg {
      background-color: #fff;
      border-radius: 100% ;
      height: 30px;
      width: 30px;
      margin: 0px 2px 0px 2px;
    }
  }
  