.contact {
  display: flex;
  width: 100%;
  margin: 20px 0px;
  flex-direction: row;
  justify-content: center;
}

.contact a {
  text-decoration: none;
  margin: 0px 2px;
}

.contact button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-size: 35px;
  color: #12b886;
  background: none;
  margin: 0px 20px;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  background-color: #fff;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
}

.modalButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modalButtons button {
  display: flex;
  align-self: flex-end;
  font-size: 40px;
  margin: 20px 20px 20px 0px;
  background-color: none;
  color: #333;
  border: none;
  width: 50px;
}

@media screen and (max-width: 1129px) {
  .contact button {
    font-size: 30px;
  }
}
