.proyectCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  height: auto;
  border-top: solid 1px #333;
  text-align: center;
  margin: 10px 0px;
  padding: 0px 10px;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.header span {
  font-size: 15px;
}

.proyectCard a {
  text-decoration: none;
}

.proyectCard h1 {
  margin: 10px 0px 30px 0px;
}

.proyectCard p {
  text-align: left;
  font-family: monospace;
  font-size: 15px;
  color: #444444;
}

.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.technologies li {
  list-style: none;
  margin: 5px;
  padding: 5px;
  border-radius: 25px;
  border: solid 1px #333;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

.buttonZone {
  display: flex;
  flex-direction: row;
}

.buttonZone button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  text-align: center;
  font-size: 17px;
  padding: 5px;
  cursor: pointer;
  margin: 15px 0px 15px 15px;
}

@media screen and (max-width: 1129px) {
  .technologies {
    font-size: small;
  }

  .buttonZone button {
    font-size: 2px;
  }

  .header span {
    font-size: x-small;
  }

  .proyectCard h1 {
    font-size: larger;
  }

  .proyectCard p {
    font-size: small;
  }
}
