#aboutMe-title {
    color: #fff;
    margin-left: 420px;
    border-bottom: 2px solid #f44336;
}

.component-aboutMe {
    margin-left: 420px;
    margin-right: 20px;
    word-wrap: break-word;
    background-color: #556e7e;
    text-align: left;
    padding: 20px;
    align-items: center;
}

.component-aboutMe h1 {
    color: #1E2B32;
    font-size: 50px;
}

.component-aboutMe p {
    color: #fff;
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    #aboutMe-title {
        margin-left: 10px;
        margin-top: 70px;
    }

    .component-aboutMe {
        align-self: center;
        width: 89%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .component-aboutMe h1 {
        font-size: 40px;
    }

    .component-aboutMe p {
        font-size: 20px;
    }
}