.component {
    position: absolute;
    /* margin-left: 20%; */
    margin-left: 320px;
    margin-right: 20px;
    margin-top: 20px;
    word-wrap: break-word;
    /* width: 70%; */
    background-color: #556e7e;
    text-align: left;
    padding: 20px;
    align-items: center;
}

.component h1 {
    color: #1E2B32;
    font-size: 50px;
}

.component p {
    color: #fff;
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .component {
        align-self: center;
        width: 89%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 80px;
    }

    .component h1 {
        font-size: 40px;
    }

    .component p {
        font-size: 20px;
    }
}