.component {
    position: absolute;
    margin-left: 20%;
    word-wrap: break-word;
    margin-bottom: 50px;
    height: 100%;
    width: 70%;
    background-color: #556e7e;
    border: solid;
    text-align: left;
    padding: 10px;
    align-items: center;
}

.text {
    align-items: center;
}

.component h1 {
    color: #1E2B32;
    font-size: 50px;
}

.component p {
    color: #fff;
    font-size: 30px;
}