@keyframes slideAnimation {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  animation-name: slideAnimation;
  animation-duration: 500ms;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-size: 60px;
  margin-bottom: 0px;
  font-family: sans-serif;
  background-image: linear-gradient(90deg, #12b886 5%, #ffd43b 95%);
  -webkit-background-clip: text; /* Para navegadores WebKit como Chrome y Safari */
  -webkit-text-fill-color: transparent; /* Para navegadores WebKit como Chrome y Safari */
  background-clip: text; /* Establece la zona de relleno para el fondo o el degradado */
  color: transparent; /* Oculta el color del texto original */
}

.title h3 {
  font-family: monospace;
  font-size: 25px;
  color: #12b886;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 160px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 20px;
}

.imageContainer img {
  max-height: 100%;
  max-width: 100%;
}

@media screen and (max-width: 1129px) {
  .aboutMe {
    align-items: center;
  }
  .info {
    flex-direction: column;
    align-items: center;
  }

  .title {
    align-items: center;
  }

  .title h1 {
    font-size: 30px;
  }

  .aboutMe p {
    font-size: small;
  }
}
